.about h2,
.values h2,
.resources h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.about {
  margin: 2rem 0;
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 2rem;
  background-color: rgba(244, 240, 236, 0.7);
}

@media screen and (max-width: 600px) {
  /* limit about section height on small screens to reduce scroll length */
  .about {
    max-height: 80vh;
    overflow-y: auto;
  }
}

.about-text {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.about-img {
  margin: 0 0 1.25rem 1.25rem;
  border-top: #054d3b 4px solid;
  border-left: #054d3b 4px solid;
  border-right: #054d3b 10px solid;
  border-bottom: #054d3b 10px solid;
  border-radius: 30px;
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 400px;
  float: right;
}

@media screen and (max-width: 600px) {
  /* remove image float on small screens */
  .about-img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    float: none;
    display: block;
    margin: 0 auto 1.25rem auto;
  }
}

.values {
  margin: 2rem 0;
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 2rem;
  background-color: rgba(244, 240, 236, 0.7);
}

.values ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.25rem;
}

.values-emphasis {
  font-weight: bold;
  font-style: italic;
  color: #054d3b;
}

.resources {
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 2rem;
  background-color: rgba(244, 240, 236, 0.7);
  font-size: 1.25rem;
}

.resources dt {
  margin: 1rem 0;
}

.resources dt a {
  color: #054d3b;
  font-weight: bold;
}

.resources dd {
  margin-left: 1rem;
}
