.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.events .heading,
.events-month .heading {
  text-align: center;
}

.events-month {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.events-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.event-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 240, 236, 0.7);
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 1.25rem;
  font-size: 1.25rem;
}

.event-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.event-title svg {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  fill: #054d3b;
}

.event-details {
  font-size: 1.25rem;
  font-style: italic;
}

.event-description {
  font-size: 1.25rem;
}

.event-card a {
  align-self: flex-start;
  margin-top: 1.25rem;
  padding: 1rem 1.25rem;
  border-radius: 5px;
  background-color: #054d3b;
  color: #f4f0ec;
  font-size: 1.25rem;
  font-weight: bold;
}

.event-card a:hover,
.event-card a:focus {
  background-color: #8fbd4f;
}
