.products-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem 0;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 250px;
  background-color: rgba(244, 240, 236, 0.7);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(5, 77, 59, 0.3);
}

.product-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product-caption {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
}

.product-caption p {
  font-size: 1.25rem;
}

.product-caption a {
  align-self: flex-start;
  padding: 1rem 1.25rem;
  border-radius: 5px;
  background-color: #054d3b;
  color: #f4f0ec;
  font-size: 1.25rem;
  font-weight: bold;
}

.product-caption a:hover,
.product-caption a:focus {
  background-color: #8fbd4f;
}
