/* Base Styles */

html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #F4F0EC;
}

/* Header */

header {
  border-bottom: #054D3B 10px solid;
  padding: 10px 0;
}

/* Main */



/* Footer */

footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: #054D3B;
}

/* header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

main {
  padding: 20px;
  text-align: center;
} */
