/****** BASE STYLES ******/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #dfe2d2;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 10vh;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

/****** COMPONENT STYLES ******/

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: #054d3b 10px solid;
}

/* Navigation */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  margin: 10px 10%;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #054d3b;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link:hover,
.nav-link:focus {
  color: #8fbd4f;
  text-decoration: underline;
}

.nav-link:active {
  color: #054d3b;
  text-decoration: underline;
}

/* Logo */

.logo-img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* Main */

main {
  margin: 2em 10%;
}

.heading {
  color: #054d3b;
  font-size: 1.5rem;
}

.page-heading {
  font-size: 1.75rem;
  text-align: center;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  padding: 10px 0;
  background-color: #054d3b;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.footer-logo img {
  border-radius: 20px;
  opacity: 0.9;
}

.social-icons svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: #dfe2d2;
  opacity: 0.9;
}

.social-icons svg:hover,
.social-icons svg:focus {
  fill: #edefe6;
  opacity: 1;
}

.footer-text {
  text-align: center;
  max-width: 80%;
  color: #dfe2d2;
}

.footer-text a {
  color: #dfe2d2;
  text-decoration: underline;
}

/****** PAGE STYLES ******/

/* Home */

.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
  overflow-x: auto;
}

.hero a {
  text-decoration: none;
  color: inherit;
}

.hero-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  border: #054d3b 5px solid;
  border-radius: 15px;
  min-height: calc(
    90vh - (8rem + 1.75rem)
  ); /* main content uses full height of the viewport minus header, margins, and page heading */
  background-color: rgba(244, 240, 236, 0.7);
}

.hero-card:hover,
.hero-card:focus {
  box-shadow: 0 0 10px 10px rgba(5, 77, 59, 0.5);
}

.hero-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero-content h2 {
  padding: 1rem;
  background-color: #054d3b;
  color: #f4f0ec;
  text-align: center;
  font-size: 1.75rem;
  text-decoration: underline;
}

.hero-text {
  justify-self: center;
  margin: 1rem;
  font-size: 1.25rem;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  /* adjust grid to one column on smaller screens, remove min-height to limit scroll length */
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-card {
    min-height: auto;
  }
}

@media screen and (max-width: 600px) {
  /* hide hero text on very small screens (mobile) */
  .hero-text {
    display: none;
  }
}

/* About */

.about h2,
.values h2,
.resources h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.about {
  margin: 2rem 0;
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 2rem;
  background-color: rgba(244, 240, 236, 0.7);
}

@media screen and (max-width: 600px) {
  /* limit about section height on small screens to reduce scroll length */
  .about {
    max-height: 80vh;
    overflow-y: auto;
  }
}

.about-text {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}

.about-img {
  margin: 0 0 1.25rem 1.25rem;
  border-top: #054d3b 4px solid;
  border-left: #054d3b 4px solid;
  border-right: #054d3b 10px solid;
  border-bottom: #054d3b 10px solid;
  border-radius: 30px;
  width: auto;
  max-width: 50%;
  height: auto;
  max-height: 400px;
  float: right;
}

@media screen and (max-width: 600px) {
  /* remove image float on small screens */
  .about-img {
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    float: none;
    display: block;
    margin: 0 auto 1.25rem auto;
  }
}

.values {
  margin: 2rem 0;
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 2rem;
  background-color: rgba(244, 240, 236, 0.7);
}

.values ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.25rem;
}

.values-emphasis {
  font-weight: bold;
  font-style: italic;
  color: #054d3b;
}

.resources {
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 2rem;
  background-color: rgba(244, 240, 236, 0.7);
  font-size: 1.25rem;
}

.resources dt {
  margin: 1rem 0;
}

.resources dt a {
  color: #054d3b;
  font-weight: bold;
}

.resources dd {
  margin-left: 1rem;
}

/* Products */

.products-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem 0;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 250px;
  background-color: rgba(244, 240, 236, 0.7);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(5, 77, 59, 0.3);
}

.product-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.product-caption {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1.25rem;
}

.product-caption p {
  font-size: 1.25rem;
}

.product-caption a {
  align-self: flex-start;
  padding: 1rem 1.25rem;
  border-radius: 5px;
  background-color: #054d3b;
  color: #f4f0ec;
  font-size: 1.25rem;
  font-weight: bold;
}

.product-caption a:hover,
.product-caption a:focus {
  background-color: #8fbd4f;
}

/* Events */

.events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.events-month {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.events-month .heading {
  text-align: center;
}

.events-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.event-card {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 240, 236, 0.7);
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 1.25rem;
  font-size: 1.25rem;
}

.event-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.event-title svg {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  fill: #054d3b;
}

.event-details {
  font-size: 1.25rem;
  font-style: italic;
}

.event-description {
  font-size: 1.25rem;
}

.event-card a {
  align-self: flex-start;
  margin-top: 1.25rem;
  padding: 1rem 1.25rem;
  border-radius: 5px;
  background-color: #054d3b;
  color: #f4f0ec;
  font-size: 1.25rem;
  font-weight: bold;
}

.event-card a:hover,
.event-card a:focus {
  background-color: #8fbd4f;
}

/* Event Registration Form */

.registration form,
.registration p,
.registration input,
.registration select,
.registration textarea,
.registration label {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.registration {
  border: #054d3b 5px solid;
  border-radius: 15px;
  padding: 1rem;
  background-color: rgba(244, 240, 236, 0.7);
}

.registration h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.registration form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.registration fieldset {
  margin: 0;
  border: #054d3b 3px solid;
  border-radius: 15px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.registration legend {
  font-weight: bold;
  color: #054d3b;
}

.form-required {
  font-weight: bold;
  font-style: italic;
}

.registration input,
select,
textarea {
  padding: 0.5rem;
  border: #054d3b 2px solid;
  border-radius: 5px;
  width: 100%;
  outline: none;
  accent-color: #054d3b;
}

.registration input[type='checkbox'],
.registration input[type='radio'] {
  width: auto;
  margin-right: 0.5rem;
}

.registration textarea {
  resize: vertical;
  min-height: 100px;
}

.registration input:focus,
select:focus,
textarea:focus {
  border-color: #8fbd4f;
}

.registration-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.25rem;
}

.registration-buttons button {
  padding: 1rem 1.25rem;
  border-radius: 5px;
  background-color: #054d3b;
  color: #f4f0ec;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.registration-buttons button:hover,
.registration-buttons button:focus {
  background-color: #8fbd4f;
}

.registration-buttons a {
  color: #f4f0ec;
  text-decoration: none;
}
