/* Base Styles */

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f0ec;
}

p {
  margin: 0;
  font-size: 1rem;
}

/* Header */

header {
  border-bottom: #054d3b 10px solid;
}

/* Navigation */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  margin: 10px 10%;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #054d3b;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link:hover,
.nav-link:focus {
  color: #8fbd4f;
  text-decoration: underline;
}

.nav-link:active {
  color: #054d3b;
  text-decoration: underline;
}

/* Logo */

.logo-img {
  max-width: 100%;
  height: auto;
}

/* Main */

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  padding: 10px 0;
  background-color: #054d3b;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.footer-logo img {
  border-radius: 20px;
  opacity: 0.9;
}

.social-icons svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: #f4f0ec;
  opacity: 0.9;
}

.footer-text {
  text-align: center;
  max-width: 80%;
  color: #f4f0ec;
  opacity: 0.9;
}

.footer-text a {
  color: #f4f0ec;
  text-decoration: underline;
}
