/* Base Styles */

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f0ec;
}

/* Header */

header {
  border-bottom: #054d3b 10px solid;
}

/* Navigation */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  margin: 10px 10%;
  list-style-type: none;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #054d3b;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link:hover,
.nav-link:focus {
  color: #8fbd4f;
  text-decoration: underline;
}

.nav-link:active {
  color: #054d3b;
  text-decoration: underline;
}

/* Logo */

#logo-img {
  max-width: 100%;
  height: auto;
}

/* Main */

/* Footer */

footer {
  margin-top: auto;
  padding: 10px 0;
  background-color: #054d3b;
}

/* header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

main {
  padding: 20px;
  text-align: center;
} */
