/****** BASE STYLES ******/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Quicksand', Arial, sans-serif;
  background-color: #dfe2d2;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 10vh;
}

main {
  flex-grow: 1;
  overflow-y: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/****** COMPONENT STYLES ******/

/* Header */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: #054d3b 10px solid;
}

/* Navigation */

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  margin: 10px 10%;
}

.nav-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: #054d3b;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link:hover,
.nav-link:focus {
  color: #8fbd4f;
  text-decoration: underline;
}

.nav-link:active {
  color: #054d3b;
  text-decoration: underline;
}

.dropdown-title {
  cursor: pointer;
  list-style: none;
}

.dropdown-list {
  position: absolute;
  border: 3px solid #054d3b;
  border-radius: 15px;
  padding: 10px 20px;
  width: inherit;
  background-color: #dfe2d2;
  list-style-type: none;
}

.dropdown-list li {
  margin: 10px 0;
}

.dropdown-list-link {
  color: #054d3b;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.dropdown-list-link:hover,
.dropdown-list-link:focus {
  color: #8fbd4f;
  text-decoration: underline;
}

/* Logo */

.logo-img {
  width: auto;
  max-width: 100%;
  height: auto;
}

/* Main */

main {
  margin: 2em 10%;
}

.heading {
  color: #054d3b;
  font-size: 1.5rem;
}

.page-heading {
  font-size: 1.75rem;
  text-align: center;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  padding: 10px 0;
  background-color: #054d3b;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.footer-logo img {
  border-radius: 20px;
  opacity: 0.9;
}

.social-icons svg {
  width: 3.5rem;
  height: 3.5rem;
  fill: #dfe2d2;
  opacity: 0.9;
}

.social-icons svg:hover,
.social-icons svg:focus {
  fill: #edefe6;
  opacity: 1;
}

.footer-text {
  text-align: center;
  max-width: 80%;
  color: #dfe2d2;
}

.footer-text a {
  color: #dfe2d2;
  text-decoration: underline;
}
